@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.CodeMirror__Main__Editor {
  @apply relative text-lg;
}

.CodeMirror__Main__Editor div {
  @apply block px-1 pb-1 whitespace-pre-wrap break-normal break-words;
}

.CodeMirror__Main__Editor div.cm-editor {
  @apply pt-8;
}

.CodeMirror__Config__Editor {
  @apply relative text-lg;
}

.CodeMirror__Config__Editor div {
  @apply block px-1 pb-1 whitespace-pre-wrap break-normal break-words;
}

.CodeMirror__Theme__Preview__Editor {
  @apply relative text-lg dark:bg-zinc-800 border-[1px] dark:border-zinc-400 border-zinc-300 p-3 rounded-md overflow-auto;
}

.CodeMirror__Theme__Preview__Editor div {
  @apply block px-1 pb-1 whitespace-pre-wrap break-normal break-words;
}

.CodeMirror__Theme__Preview__Editor div.cm-editor {
  @apply pt-3 mb-10 border-[0.1px] dark:border-zinc-400 border-zinc-300 rounded-md;
}

.cm-scroller {
  position: relative;
  overflow: hidden !important;
}

.cm-content {
  border-color: transparent;
  max-width: 100%;
}

.CodeMirror__Main__Editor .cm-content {
  border-right-width: 70px;
}

.cm-gutters {
  min-height: 100%;
  z-index: 3;
}

.cp-saturation {
  background-image: linear-gradient(transparent, black),
    linear-gradient(to right, white, transparent);
}

.cp-hue {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #ff00ff,
    #ff0000
  );
}

.sketch-picker .flexbox-fix {
  @apply !border-none;
}

.sketch-picker .flexbox-fix label {
  @apply dark:!text-white;
}

.sketch-picker .flexbox-fix input {
  @apply dark:bg-zinc-700 placeholder:dark:text-zinc-400 block px-2 py-1.5 bg-zinc-100 border-[1px] dark:border-zinc-400 border-zinc-300 dark:text-white text-zinc-900 outline-none;
}
